@import "./css/colors";
@import "./flight-status/flight-status";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
}

.bg-purple {
    background-color: $bg-purple;
}

.bg-secondary {
    background-color: $bg-secondary !important;
}

.sub-heading {
    font-size: 18px;
    color: $text-secondary;
}

.form-label {
    font-size: 18px;
}

@media (max-width: 768px) {
    .image-content {
        height: auto !important;
    }

    h5 {
        font-size: 16px;
    }
}
